// Background color of the whole context menu
.choice-box .context-menu { -fx-background-color: rgb(20,20,20); }
// Focused item background color in the list
.choice-box .menu-item:focused { -fx-background-color: rgb(180,20,20); }
// Text color of non-focused items in the list
.choice-box .menu-item > .label { -fx-text-fill: white; }
// Text color of focused item in the list
.choice-box .menu-item:focused > .label { -fx-text-fill: black; }
// Background color of the control itself

.choice-box {
  -fx-background-color: rgb(20,20,20);
  -fx-mark-color: rgb(255,0,0); // arrow color
  -fx-pref-width: 220;
  -fx-font-size: 20px;
}

.choice-box .context-menu {
    -fx-pref-width: 220;
}

// Selected item text color on the control itself
.choice-box > .label { -fx-text-fill: white; }