# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Fra Lenovo\Desktop\Lektier\ITU\1. semester\Grundlæggende programmering\Netflex\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
